* {
    color: #82756A;
}

.contains {
    width: 80%;
    margin: 0 auto;
}

.page-title {
    display: block;
    text-align: center;
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    background: #f5f5f5;
    color: #82756A;
    text-decoration: none;
    border: solid 1px #82756A;
}

.search-form{
    display:flex;
    justify-content: space-between;
    margin-bottom:50px;
    align-items:center;
}

.name-email{
    width:30%;
    display:flex;
}

.name_email_filter{
    width:320px;
}

.name_email_filter,
.gender_dropdown,
.category_dropdown{
    outline:none;
    border:1px solid #c0c0c0;
    padding:10px 30px;
    -webkit-appearance: none;
    appearance: none;
}

.date_calendar{
    outline:none;
    border:1px solid #c0c0c0;
    padding:10px 30px;
}

.gender_dropdown,
.category_dropdown,
.date_calendar{
    background:#f5f5f5;
}

.gender,
.category_id,
.date{
    position:relative;
}

.gender::before,
.category_id::before,
.date::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #c0c0c0 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
}

.contacts-table{
    border-collapse: collapse;
}

.contacts-database{
    width:100%;
}

.contacts-database{
    border:solid 1px #c0c0c0;
}

.column-name{
    text-align:left;
    background:#82756A;
    color:#fff;
    padding:10px 30px;
    border-bottom: solid 1px #c0c0c0;
}

.name_get,
.gender_get,
.email_get,
.category_get,
.created_get{
    padding:10px 30px;
    border-bottom:solid 1px #c0c0c0;
}

.above-table{
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
}

.export{
    outline:none;
    background:#f5f5f5;
    padding:5px 10px;
    border:solid 1px #c0c0c0;
}

.flex-1,
.pagination p{
    display:none;
}

.pagination a,
span[aria-current="page"],
span[aria-label="&laquo;"]{
    text-decoration:none;
    display: inline-block;
    height:19px;
    width:19px;
    padding: 3px;
    border:solid 1px #BAA899;
    text-align: center;
}

svg{
    width:15px;
    height:24px;
}

.shadow-sm{
    display:flex;
    align-items:center;
}

span[aria-current="page"]{
    background:#BAA899;
}

span[aria-current="page"] span{
    color:#fff;
}

.search-button{
    outline:none;
    border:none;
    background:transparent;
    border: solid 1px #BAA899;
}

.detail_get{
    width:80px;
    padding:10px 15px;
    border-bottom:solid 1px #c0c0c0;
}

.detail-view{
    padding:5px 10px;
    margin:0 auto;
    outline:none;
    background:#f5f5f5;
    color:#BAA899;
    border:solid 1px #BAA899;
    text-align:center;
}

.reset{
    margin-top:40px;
    text-align:center;
}

.reset-link{
    outline:none;
    border:none;
    padding:10px 30px;
    color:#fff;
    background:#82756A;
    height:unset;
}

.hidden-column{
    display:none;
}

.modal{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:80px 60px;
    background-color:#FFFFFF;
    border: 1px solid #8B7969;
    box-shadow:1px 1px 2px;
}

.close-button{
    color:#8B7969;
    position:absolute;
    right:40px;
    top:40px;
    cursor:pointer;
}

.modal-title{
    text-align:left;
    width:250px;
    color:#8B7969;
}

.detail-title{
    vertical-align: top;
    color:#8B7969;
}

.modal-cell{
    width:350px;
    padding:10px 15px;
    color:#8B7969;
}

.detail-text-modal{
    outline:none;
    resize:none;
    border:none;
    background:transparent;
    font-family:sans-serif;
}

.delete{
    text-align:center;
    margin-top:40px;
}

.delete-button{
    padding:10px 20px;
    background:red;
    color:#fff;
    outline:none;
    border:solid 1px #fff;
}

