.body {
    background: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-area {
    padding: 10px 40px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #82756A;
    background: #fff;
}

.header-ttl {
    margin: 5;
    line-height: 50px;
    color: #8B7969;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.link-area {
    position: absolute;
    top: 40%;
    right: 10%;
    font-size: 15px;
}

.main {
    padding: 30px 50px;
}