* {
    font-family: Inika;
}
.body{
    background:#fff;
    margin:0;
    padding:0;
    width:100%;
}

.header-index{
    display: flex;
    padding:20px 0px;
    justify-content: center;
    position:relative;
    border-bottom:1px solid #BAA899;
    background:#fff;
}

.header-ttl{
    margin: 0;
    line-height: 50px;
    color: #8B7969;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.main{
    padding:30px 50px;
}