*{
    color:#BAA899;
    font-size:20px;
}

.page-title{
    display:block;
    text-align:center;
    font-size:30px;
    margin-bottom:30px;
}

.confirm-table{
    width:80%;
    margin:0 auto;
}

.read-input{
    width:80%;
    height:100%;
    outline:none;
    border:none;
    padding:15px 30px;
    font-family:sans-serif;
    resize:none;
}

.confirm-table{
    width:90%
}

.table-line{
    margin:10px 0;
}

.column-name{
    text-align:left;
    width:40%;
    background:#BAA899;
    color:#fff;
    border:solid 1px #c0c0c0;
    padding-left:50px;
    align-items:center;
}

.table-cell{
    width:550px;
    border:solid 1px #c0c0c0;
}


.toThanks,
.toFix{
    outline:none;
    border:none;
    padding:10px 30px;
    height:unset;
}

.buttons,
.fix-area{
    text-align:center;
}

.toThanks{
    color:#fff;
    background:#82756A;
    margin:40px 0;
}

.toFix{
    color:#BAA899;
    background:#fff;
    border:solid 1px #82756A;
}



