* {
    color: #BAA899;
}

input::placeholder,
textarea::placeholder {
    color: #BAA899;
}

:-ms-input-placeholder {
    color: #BAA899;
}

.page-title {
    display: block;
    text-align: center;
    font-size: 30px;
}

.input-contact {
    width: 80%;
    margin: 0 auto;
}

.index-table {
    width: 90%
}

.table-line {
    margin: 10px 0;
}

.column-name {
    text-align: left;
    width: 40%;
}

.attention {
    color: red;
}

.table-cell {
    width: 550px;
}

.input-area {
    outline: none;
    background: #f5f5f5;
    border: none;
    height: 25px;
    margin: 0;
    padding-left: 15px;
}

.name-separate {
    display: flex;
    justify-content: space-between;
}

#name input,
.last_name_error,
.first_name_error {
    width: 45%;
}

.last_name_error,
.first_name_error {
    color: red;
}

#gender {
    display: flex;
}

.radio-item {
    width: 25%;
    display: flex;
    place-items: center start;
}

.gender-radio {
    margin-right: 20px;
}

.email-input {
    width: 100%;
}

#tel-align {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tel-input {
    width: 32%;
    text-align: center;
}

.tel-bou {
    width: 4%;
    text-align: center;
}

.address-input {
    width: 100%;
}

.building-input {
    width: 100%;
}

#category {
    position: relative;
}

#category::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #BAA899;
    position: absolute;
    top: 50%;
    right: 52%;
    transform: translateY(-50%);
    pointer-events: none;
}

.category-select {
    width: 50%;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 5px;
}

.detail-text {
    height: 80px;
    width: 100%;
    padding-top: 15px;
    resize: none;
}

#align-up {
    vertical-align: top;
}

.submit-form {
    text-align: center;
}

.confirm_button {
    outline: none;
    border: none;
    padding: 10px 30px;
    color: #fff;
    background: #82756A;
    height: unset;
    margin: 0 auto;
    margin-top: 40px;
}

.error-message {
    color: red;
}