.thanks{
    font-size:25px;
    font-weight:bold;
    margin-bottom:60px;
    color:#BAA899;
}

.back{
    outline:none;
    border:none;
    padding:10px 30px;
    color:#fff;
    background:#82756A;
    height:unset;
    margin-right:30px;
}

.back-thanks,
.front{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.back-thanks{
    width:100%;
    z-index:-20;
}

.back-thanks{
    font-size:180px;
    font-weight: bold;
    letter-spacing:40px;
    color:#f5f5f5;
    margin-top: -20px;
}